### Bibliotecas

____


Uma biblioteca nada mais é que **uma coleção de funções prontas**, ou seja, "incrementos adicionais" do python puro, que podem ser utilizadas pra fazer tarefas específicas

Podemos dar um "apelido" para a biblioteca, que em python é chamado de "alias". 

Para isso, usamos a estrutura: 

```python
import nome_da_biblioteca as apelido_da_biblioteca
```
Assim, quando formos nos referir à biblioteca para utilizar uma de suas funções, usamos o seu apelido, ao invés de seu nome completo

In [25]:
# import datetime
import datetime as dt

In [28]:
def soma(a, b):
    return a + b

In [95]:
import math

In [96]:
math.pi

3.141592653589793

In [97]:
math.sin(math.pi / 2)

1.0

In [27]:
sin(3.14)

0.0015926529164868282

In [98]:
from math import sin as seno
from math import pi

In [99]:
seno(pi)

1.2246467991473532e-16

In [100]:
seno(pi/2)

1.0

### Datetime
https://docs.python.org/3/library/datetime.html  
https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

Diversos formatos de data  
"2021-06-28"  
yyyy-mm-dd  
"2021/06/28"  
yyyy/mm/dd  
"28/06/2021"  
dd/mm/yyyy  
"06/28/2021"  
mm/dd/yyyy

In [ ]:
# Cada data está associada, na verdade, com um número de referência
# 01/01/1900 -> 0
# 02/01/1900 -> 1
# 23/05/2022 -> 14589
# 22/05/2022 -> 14588

### Fazendo operações com datas

In [45]:
# Criando objetos da classe datetime que está na biblioteca dt
# Atributos: ano, mês, dia, hora, minuto, segundo, microsegundo
data_1 = dt.datetime(2017, 6, 21, 18, 25, 30)
data_2 = dt.datetime(2018, 4, 25, 22, 23, 10)

In [39]:
# As diferenças entre duas datas são armazenadas em dias e segundos
diferenca = data_2 - data_1
diferenca

datetime.timedelta(days=4, seconds=14260)

In [40]:
# Diferença de dias
dif_dias = (data_2 - data_1).days
dif_dias

4

In [50]:
# Diferença de meses
dif_meses = data_2.month - data_1.month + 12 * (data_2.year - data_1.year)
dif_meses

14

In [51]:
# Diferença em anos
dif_anos = dif_meses / 12
dif_anos

1.1666666666666667

In [55]:
dif_anos = str(dif_meses // 12) + ' anos e ' + str(dif_meses % 12) + ' mes(es)'
dif_anos

'1 anos e 2 mes(es)'

In [66]:
aluguel = dt.datetime(2022, 1, 22, 14, 5, 36)
devolucao = dt.datetime(2022, 1, 22, 16, 10, 45)

In [67]:
tempo_aluguel = devolucao - aluguel
tempo_aluguel

datetime.timedelta(seconds=7509)

In [68]:
tempo_aluguel = tempo_aluguel.seconds / 3600
tempo_aluguel

2.0858333333333334

In [69]:
tempo_arredondado = math.ceil(tempo_aluguel)
tempo_arredondado

3

### Data para string

In [90]:
aluguel = dt.datetime(2022, 1, 22, 17, 53)
aluguel

datetime.datetime(2022, 1, 22, 17, 53)

In [94]:
isinstance(aluguel, datetime.datetime)

True

In [81]:
aluguel_str = aluguel.strftime('%d/%b/%Y -- %H:%M')
aluguel_str

'22/Jan/2022 -- 17:53'

### String para data

In [84]:
minha_data = '2022/05/31'

In [89]:
variavel_dt = dt.datetime.strptime(minha_data, '%Y/%m/%d')
variavel_dt

datetime.datetime(2022, 5, 31, 0, 0)

### Criando nossas bibliotecas
___

3